* {
	font-family:sans-serif;
	background-color: lightgray;
}


.button {
	font-size:24pt;
	font-weight:bold;
	padding:10px;
}

#console {
	width:100%;
	height:100px;
	white-space: nowrap;
	border:none;
}

#requestPermissionGN {
  height:120px;
  font-size:18px;
  font-weight:bold;
}

.big_display {
	font-size:18pt;
	font-weight:bold;
	font-family:Courier;
}